@font-face {
    font-family: "Open sans";
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Open sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open sans";
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Abel";
    src: url(../fonts/Abel-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Circular";
    src: url(../fonts/circular-std-medium-500.ttf);
    font-weight: 500;
    font-style: normal;
}



* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Open Sans';

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

button {
    cursor: pointer;
}

.wrap {
    background: #020A18;
}

header {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 25px;
}

.nav_bar {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #3A68B8;
}

.div_Artificial {
    display: flex;
    justify-content: space-between;
}

.div_Artificial img {
    margin-right: 15px;
}

.div_Artificial p {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
}

.ul_li {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.ul_li  li a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: white;
    transition: .2s;
}
.ul_li  li a:hover{
    color: #3A68B8;
}
.ul_li  li a:active{
    color: #b4c2db;
}

.div_btn {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background: #3A68B8;
    color: white;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    transition: .3s;
}
.div_btn:hover {
    background-color: white;
    color: #3A68B8;
}

.sec1 {
    height: 800px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../img/задний\ фон.png);
    background-repeat: no-repeat;
    background-position: right 20px top -20px;
}

.div_sec_1box {
    display: flex;
    align-items: center;
    height: 650px;
}

.div_sec_1 {
}


.sec1_p2 {
    width: 558px;
    height: 87px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.div_sec_1 h1 {
    margin-top: -50px;
    width: 604px;
    height: 142px;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;

}

.sec1_p {
    padding-top: 20px;
    width: 558px;
    height: 87px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: rgb(150, 140, 140);
}

.btn_1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-right: 10px;
}

.btn_2 {
    position: relative;
    padding: 15px 30px 15px 55px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.btn_2_span {
    position: relative;
    z-index: 2;
}

.btn_2:hover {
    padding: 15px 30px;
}


.btn_2 img {
    position: absolute;
    height: 22px;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 1;
}

.div_icon {
    display: flex;
    justify-content: space-between;
}

.img1 {
    margin-right: 60px;
}

.img2 {
    margin-right: 60px;
}

.img3 {
    margin-right: 60px;
}

.img4 {
    margin-right: 60px;
}

.sec2 {
    max-width: 1700px;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background-image: url(../img/about\ 4.png);
    background-repeat: no-repeat;
    background-position: 85px;
}

.div_sec2 {
    text-align: center;
    padding-top: 250px;
    padding-left: 800px;

}

.div_sec2 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    width: 430px;

}

.sec2_p {
    margin-left: 20px;
    width: 400px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300
}

.btn_sec2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 35px;
    margin-top: 30px;
    margin-left: 12px;
    gap: 10px;
    background: #3A68B8;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
}

.btn_sec2 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.div_grid {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 0px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    padding-left: 22px;
    color: white;

}

.div_grid p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
}

.div_grid h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
}

.article_1 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
   background-color: #020A18;
    box-shadow: 0 0 35px #d4145a27;

}

.article_1 img {
    width: 70px;
    padding-top: 30px;
    padding-left: 90px;
}

.div_icon_text {
    padding-top: 10px;
    text-align: center;
}

.div_icon_text h2 {
    padding-top: 10px;
    font-size: 20px;
}

.div_icon_text p {
    padding-top: 10px;
    font-size: 13px;
}

.article_2 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
   background-color: #020A18;
    box-shadow: 0 0 35px #d4145a27;

}

.article_2 img {
    width: 70px;
    padding-top: 20px;
    padding-left: 90px;
}

.div_icon_text1 {
    padding-top: 10px;
    text-align: center;
}

.div_icon_text1 h2 {
    padding-top: 10px;
    font-size: 20px;
}

.div_icon_text1 p {
    padding-top: 10px;
    font-size: 13px;
}

.article_3 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
   background-color: #020A18;
    box-shadow: 0 0 35px #d4145a27;
}

.article_3 img {
    width: 70px;
    padding-top: 20px;
    padding-left: 90px;
}

.div_icon_text2 {
    padding-top: 10px;
    text-align: center;
}

.div_icon_text2 h2 {
    padding-top: 10px;
    font-size: 20px;
}

.div_icon_text2 p {
    padding-top: 10px;
    font-size: 13px;
}

.article_4 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
   background-color: #020A18;
    box-shadow: 0 0 35px #d4145a27;
}

.article_4 img {
    width: 70px;
    padding-top: 20px;
    padding-left: 90px;
}

.div_icon_text3 {
    padding-top: 10px;
    text-align: center;
}

.div_icon_text3 h2 {
    padding-top: 10px;
    font-size: 20px;
}

.div_icon_text3 p {
    padding-top: 10px;
    font-size: 13px;
}

.article_5 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
   background-color: #020A18;
    box-shadow: 0 0 35px #d4145a27;

}

.article_5 img {
    width: 70px;
    padding-top: 20px;
    padding-left: 90px;
}

.div_icon_text4 {
    padding-top: 10px;
    text-align: center;
}

.div_icon_text4 h2 {
    padding-top: 10px;
    font-size: 20px;
}

.div_icon_text4 p {
    padding-top: 10px;
    font-size: 13px;
}

.div_icon_tochki {
    text-align: center;
    padding-left: 35px;
    padding-top: 40px;
}

.sec3 {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    background-image: url(../img/about3\ 1.png);
    background-repeat: no-repeat;
    background-position: right 221px;
    height: 800px;
}

.div_sec3 {
    color: white;
    text-align: left;
    padding-top: 200px;
    padding-left: 200px;
}

.div_sec3 h2 {
    width: 500px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;

}

.div_sec3 p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;

    padding-top: 40px;
    width: 400px;
}

footer {
    max-width: 1700px;
    margin: 0 auto;
    padding-left: 170px;
    width: 100%;
    height: 510px;
    font-family: 'Abel', sans-serif;

}

/* .div_footer {
    display: flex;
    width: 500px;
    height: 400px;
    gap: 30px;
    padding-top: 50px;
}

.div_img_icon {
    display: block;
    width: 812px;
    height: 400px;
    gap: 30px;
    padding-top: 50px
}

.div_img_icon h3 {
    padding-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15.9627px;
    line-height: 22px;
    color: #3A68B8;

}

.div_img_icon p {
    padding-top: 10px;
    width: 300px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF
}

.div_img_icon a {
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.div_inform {
    font-style: normal;
    padding-top: 68px;
    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
    color: #FFFFFF;
}
.div_FOOTERMENU{
    font-style: normal;
    padding-left: 70px;
    padding-top: 68px;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
    color: #FFFFFF;
}
.div_USEFULLINKS{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */


/* #FFFFFF */